@media (max-width: 768px) {
  /* Ye styles tab apply honge jab screen 768px ya us se chhoti ho */
  .logo {
    display: none;
  }
  #mobile-menu {
    display: block;
  }
  .nav-links {
    flex-direction: column;
    gap: 12px;
    width: 70%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px;
    gap: 31px;
  }
}
